
@{
    ViewBag.Title = "Add A Contact";
}
<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>

<!-- Latest compiled JavaScript -->
<!-- add thids links for the error message-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css" />
<script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>

<h2>Add A Contact</h2>
<div class="col-md-12">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="col-md-12">
            <label id="lblFirstName">Contact First Name</label>
            <input class="form-control required" type="email" id="txtFirstName" required />
        </div>
        <div class="col-md-12">
            <label id="lblLastName">Contact Last Name</label>
            <input class="form-control required" type="text" id="txtLastName" required />
        </div>
        <div class="col-md-12">
            <label id="lblEmailAddress">Contact eMail Address</label>
            <input class="form-control required" id="txtEmailAddress">
        </div>
        <div class="col-md-12">
            <label>Contact Email Address Type</label>
            <select class="custom-select" id="inputGroupEmailType">
                <option selected value="0">Personal</option>
                <option value="1">Business</option>
            </select>
        </div>
        <div class="col-md-12">
            <br />
            <input id="btnSave" class="btn btn-primary" type="button" value="Save Contact" />
            <input id="btnCancel" class="btn btn-danger" type="button" value="Cancel" />
        </div>
    </div>
</div>

<div id="dvLoader" class="LoadingDiv" style="display: none;">
    <table style="height: 100%; margin: auto;">
        <tr>
            <td style="vertical-align: middle;">
                <center>
                    <img src="..\..\Images\loading-icegif.gif" alt="Loading" />
                </center>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">

    $(document).ready(function () {

        $('#toast-container').find('.toast-top-center').removeClass('.toast-top-center');
        toastr.options = {
            "closeButton": true,
            'autoWidth': false,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-center-center",
            "preventDuplicates": false,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        $(function () {
            $('#btnSave').on('click', function () {
                var ID = "0";
                var FirstName = $("#txtFirstName").val();
                var LastName = $("#txtLastName").val();
                var EmailAddress = $("#txtEmailAddress").val();
                var EmailType = $('#inputGroupEmailType option:selected').val();

                if (CheckRequiredFields()) {
                    $('#dvLoader').show();
                    $.ajax({
                        url: "/Home/SaveAndUpdate",
                        type: 'POST',
                        data: { ID: "0", FirstName: FirstName, LastName: LastName, EmailAddress: EmailAddress, EmailType: EmailType },
                        dataType: "json",
                        success: function (result) {
                            $('#dvLoader').hide();

                            if (result.Status == "true") {
                                toastr.success(result.ErrorMessage);
                                clear();
                                display();
                            }
                            else {
                                toastr.warning(result.ErrorMessage);
                                clear();
                                display();
                            }
                        }
                    });
                }
            });
        });

        $(function () {
            $('#btnCancel').on('click', function () {
                clear();
            });
        });

    });

    function clear() {
        $("#txtFirstName").val("");
        $("#txtLastName").val("");
        $("#txtEmailAddress").val("");
        $("#txtPrice").val("");
        $('#btnSave').val("Save Product");
    }

    function CheckRequiredFields() {
        var isValid = true;

        if ($.trim($("#txtFirstName").val()) == '') {
            isValid = false;
            $("#txtFirstName").addClass('red_border');
            $("#lblFirstName").addClass('red_text');
            $("#lblFirstName").text("Please enter a valid First Name");
        } else {
            $("#lblFirstName").text("Contact First Name");
            $("#txtFirstName").removeClass('red_border');
            $("#lblFirstName").removeClass('red_text');
        }

        if ($.trim($("#txtLastName").val()) == '') {
            isValid = false;
            $("#txtLastName").addClass('red_border');
            $("#lblLastName").addClass('red_text');
            $("#lblLastName").text("Please enter a valid Last Name");
        } else {
            $("#txtLastName").removeClass('red_border');
            $("#lblLastName").removeClass('red_text');
            $("#lblLastName").text("Contact Last Name");
        }

        if ($.trim($("#txtEmailAddress").val()) == '') {
            isValid = false;
            $("#txtEmailAddress").addClass('red_border');
            $("#lblEmailAddress").addClass('red_text');
            $("#lblEmailAddress").text("eMail Address is a required field.");
        } else {
            $("#txtEmailAddress").removeClass('red_border');
            $("#lblEmailAddress").removeClass('red_text');
            $("#lblEmailAddress").text("Contact eMail Address");
        }


        return isValid;
    }
</script>
